.Rproj.user
.Rhistory
.RData
.Ruserdata
.html
inst/doc
/doc/
/Meta/
docs
src-i386
src-x64
..Rcheck
serocalculator.Rcheck/
serocalculator*.tar.gz
serocalculator*.tgz
rsconnect
README.html
README_files
/.quarto/
NEWS.html
NEWS_files
**/.quarto/
*.pdf
junit.xml
